.focus {
  outline: var(--force-border) !important;
  box-shadow: var(--force-box-shadow) !important;
  box-sizing: border-box;
  overflow: hidden;
}

.focusBind {
  outline: 5px solid var(--theme-color) !important;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--theme-color) !important;
  z-index: 100000 !important;
  color: #fff !important;
}

.focusWarning {
  /* border: 5px solid #faad14 !important; */
  padding: 5px !important;
  box-sizing: border-box !important;
  overflow: hidden !important;
  background-color: #faad14 !important;
  z-index: 9999 !important;
  color: #fff !important;
}

.focusError {
  /* border: 5px solid red !important; */
  padding: 5px !important;
  box-sizing: border-box !important;
  overflow: hidden !important;
  background-color: red !important;
  z-index: 9999 !important;
  color: #fff !important;
}
